<div *ngIf="isLoading">Loading book...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div *ngIf="book && !isLoading">
  <div class="book-hero-main">
    <div class="book-hero-left">
      <div class="side-image">
        <img src="Image 7.png" />
        <img src="Image 7.png" />
      </div>
      <div class="main-image">
        <img src="Image 7@2x.png" />
      </div>
    </div>
    <div class="book-hero-right">
      <p class="book-hero-name">{{ book?.bookName || 'Unknown Title' }}</p>
      <p class="book-hero-author">by {{ book?.author || 'Unknown Author' }}</p>
      <div class="book-hero-rating-main">
        <span class="book-hero-rating-container">
          <span class="book-hero-rating">4.5</span>
          <span><i class="fas fa-star"></i></span>
        </span>
        <span class="book-hero-rating-number">(20)</span>
      </div>
      <div class="book-hero-price-container">
        <span class="book-hero-discount">Rs {{ book?.discountPrice || book?.price || 0 }} </span>
        <span class="book-hero-price" *ngIf="book?.discountPrice !== book?.price && book?.discountPrice !== 0">
          <del>Rs {{ book?.price || 0 }}</del>
        </span>
      </div>
      <div class="book-hero-description-container">
        <div class="book-hero-head">
          <span class="svg-bullet"></span> Book Detail
        </div>
        <p class="book-hero-description">
          {{book?.description}}  
        </p>
      </div>
      <app-feedback [productId]="book._id"/>
    </div>
  </div>
</div>