<div class="book-hero-main">
    <div class="book-hero-left">
        <div class="side-image">
            <img src="Image 7.png">
            <img src="Image 7.png">
        </div>
        <div class="main-image">
            <img src="Image 7.png">
        </div>
    </div>
    <div class="book-hero-right">
        <p class="book-card-name">Don't Make Me Think</p>
        <p class="book-card-author">by Steve Krug</p>
        <span class="book-card-rating-container">
            <span class="book-card-rating">4.5</span>
            <span><i class="fas fa-star"></i></span>
        </span>
        <span class="book-card-rating-number">(20)</span>
        <div class="book-card-price-container">
            <span class="book-card-discount">Rs 1500</span>
            <span class="book-card-price"><del>2000</del></span>
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ea officiis ipsa, illum commodi blanditiis
            debitis! Eaque facilis possimus natus dolor quidem dolore, explicabo distinctio cum cumque in sit earum?
            Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam error, aut dignissimos cupiditate ipsa
            nobis
            minus similique amet voluptatum magni id alias dolor iure incidunt culpa at eius omnis!</p>
        <hr>
    </div>
</div>