<nav>
    <span class="nav-brand-search-container">
        <span class="nav-brand-container" routerLink="/home">
            <img alt="logo" src="education.svg">
            <span class="nav-title">Bookstore</span>
        </span>
        <div class="nav-search-container">
            <i class="fas fa-search nav-search-icon"></i>
            <input type="search" placeholder="Search ..." class="nav-search-input" 
                   [disabled]="!isHomePage" 
                   [value]="searchTerm"
                   (input)="onSearchChange($event)">
        </div>
    </span>
    <span class="nav-icon-group">
        <button class="nav-profile-button" (click)="toggleProfileDropdown()"><i
                class="fa-regular fa-user"></i>Profile
                <!-- <hr *ngIf="isProfileOpen"> -->
        </button>
        <button class="nav-cart-button" routerLink="/order"><i class="fa-solid fa-cart-shopping"></i>Cart</button>
    </span>
</nav>

<div *ngIf="isProfileOpen" class="profile-dropdown">    
    <p class="profile-dropdown-welcome">Welcome</p>
    <p class="profile-dropdown-content">To access account and manage orders</p>
    <button [routerLink]="['/login']" routerLinkActive="router-link-active">LOGIN/SIGNUP</button>
    <hr>
    <div class="profile-dropdown-button"></div>
    <div>
        <i class="fa-solid fa-cart-shopping"></i>
        <span>My Orders</span>
    </div>
    <div><i class="fa-regular fa-heart"></i>
        <span>Wishlist</span>
    </div>
</div>
