<div class="address-form-container">
    <div class="my-cart-title">
        <p class="my-cart-title">My cart (1)</p>
    </div>
    <div class="address-form">
        <div class="address-form-user-details">
            <div class="address-form-name label-input">
                <label for="name">Full Name</label>
                <input type="text" id="name" matInput [formControl]="nameFormControl" placeholder="John Doe"
                    required>
            </div>
            <div class="address-form-phone label-input">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" matInput [formControl]="phoneFormControl" placeholder="1234567890"
                    required>
            </div>
        </div>
        <div class="address-form-details">

        </div>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="Home">Home</mat-radio-button>
            <mat-radio-button value="Work">Work</mat-radio-button>
            <mat-radio-button value="Other">Other</mat-radio-button>
        </mat-radio-group>
        <button matButton="filled">Continue</button>
    </div>
</div>