<app-navbar />
<div class="my-orders-container">
    <div class="breadcrumb">
        <span routerLink="/home" class="breadcrumb-link">Home</span>
        <span class="breadcrumb-separator">/</span>
        <span class="breadcrumb-current">My Orders</span>
    </div>
    <div class="order-summary-container">
        <div class="my-cart-left-container">
            <div class="my-cart-main">
                <div class="my-cart-image">
                    <img src="Image 7.png" alt="Book Image">
                </div>
                <div class="my-cart-details">
                    <p class="my-cart-book-name">Don't Make Me Think</p>
                    <p class="my-cart-book-author">by Steve Krug</p>
                    <div class="my-cart-price-container">
                        <span class="my-cart-book-discount">Rs 1500 </span>
                        <span class="my-cart-book-price">
                            <del>Rs 2000</del>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-cart-right-container">
            <span class="svg-bullet"></span> Order Placed on May 21
        </div>
    </div>

    <div class="order-summary-container">
        <div class="my-cart-left-container">
            <div class="my-cart-main">
                <div class="my-cart-image">
                    <img src="Image 7.png" alt="Book Image">
                </div>
                <div class="my-cart-details">
                    <p class="my-cart-book-name">React Material-UI</p>
                    <p class="my-cart-book-author">by Cookbook</p>
                    <div class="my-cart-price-container">
                        <span class="my-cart-book-discount">Rs. 780 </span>
                        <span class="my-cart-book-price">
                            <del>Rs.1000</del>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-cart-right-container">
            <span class="svg-bullet"></span> Order Placed on April 06
        </div>
    </div>
</div>
<app-footer />