<div class="login-signup-main">
    <mat-card class="login-left-container" appearance="outlined">
        <img mat-card-image src="2766594@2x.png" width="200px" alt="Online Book Shopping Image">
        <div>
            <p>ONLINE BOOK SHOPPING</p>
        </div>
    </mat-card>

    <mat-card class="login-right-container" appearance="outlined">
        <div class="button-row">
            <div class="button-row-login">
                <button (click)="login()">Login</button>
                <hr *ngIf="isLoginMode">
            </div>
            <div class="button-row-login">
                <button (click)="signup()">Signup</button>
                <hr *ngIf="!isLoginMode">
            </div>
        </div>

        <div *ngIf="isLoginMode" class="login-form">
            <div class="login-email label-input">
                <label for="loginEmail">Email</label>
                <input type="email" id="loginEmail" matInput [formControl]="emailFormControl"
                    placeholder="john.doe@example.com" required>
            </div>
            <div class="login-password label-input">
                <label for="loginPassword">Enter your password</label>
                <div class="login-password-input">
                    <input id="loginPassword" class="password-input" [formControl]="passwordFormControl"
                        [type]="hide() ? 'password' : 'text'" required>
                    <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()" class="password-visibility-button">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="forget-password-link">
                <button routerLink="/forgetpassword">Forgot Password?</button>
            </div>
            <div>
                <button matButton class="red-button" (click)="onLogin()" [disabled]="isLoading()">
                    {{isLoading() ? 'Logging in...' : 'Login'}}
                </button>
            </div>
            <div class="or-class">
                <hr width="20px">
                <span>OR</span>
                <hr width="20px">
            </div>

            <div class="login-other-options">
                <button class="facebook-button">Facebook</button>
                <button class="google-button">Google</button>
            </div>
        </div>

        <div *ngIf="!isLoginMode" class="signup-form">
            <div class="login-full-name label-input">
                <label for="signupName">Full Name</label>
                <input type="text" id="signupName" matInput [formControl]="nameFormControl" placeholder="John Doe"
                    required>
            </div>
            <div class="signup-email label-input">
                <label for="signupEmail">Email</label>
                <input type="email" id="signupEmail" matInput [formControl]="emailFormControl"
                    placeholder="john.doe@example.com" required>
            </div>
            <div class="signup-password label-input">
                <label for="signupPassword">Enter your password</label>
                <div class="signup-password-input">
                    <input id="signupPassword" class="password-input" matInput [formControl]="passwordFormControl"
                        [type]="hide() ? 'password' : 'text'" />
                    <button class="password-visibility-button" matSuffix (click)="clickEvent($event)"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                </div>
            </div>

            <div class="signup-phone label-input">
                <label for="signupPhone">Phone Number</label>
                <input type="text" id="signupPhone" matInput [formControl]="phoneFormControl" placeholder="1234567890"
                    required>
            </div>
            <div>
                <button class="red-button" (click)="onSignup()" [disabled]="isLoading()">
                    {{isLoading() ? 'Creating Account...' : 'Signup'}}
                </button>
            </div>
        </div>
    </mat-card>
</div>