<app-navbar />
<div class="home-container">
    <!-- Loading State -->
    <div *ngIf="isLoading" class="loader-container">
        <mat-spinner diameter="50"></mat-spinner>
        <p>Loading books...</p>
    </div>

    <!-- Content State -->
    <div *ngIf="!isLoading">
        <p>Books<span>({{totalItems}} items)</span></p>
        <div class="home-book-container">
            <app-book-card *ngFor="let book of displayedBooks" [book]="book" />
        </div>

        <app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    </div>
</div>
<app-footer />