<app-navbar (searchChanged)="onSearchChanged($event)" />
<div class="home-container">
    <div *ngIf="isLoading" class="loader-container">
        <mat-spinner diameter="50"></mat-spinner>
        <p>Loading books...</p>
    </div>

    <div *ngIf="!isLoading">
        <div class="home-page-top-row">
            <p>Books<span>({{totalItems}} items)</span></p>
            <div class="home-page-sort-by">
                <select name="sort-by" id="sort-by" [(ngModel)]="selectedSort" (change)="onSortChanged($event)">
                    <option value="default" >Sort by relevance</option>
                    <option value="price-low-to-high">Price : Low to High</option>
                    <option value="price-high-to-low">Price : High to Low</option>
                    <option value="new-arrivals">Newest Arrivals</option>
                </select>
            </div>
        </div>
        <div class="home-book-container">
            <app-book-card *ngFor="let book of displayedBooks" [book]="book" />
        </div>

        <app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    </div>
</div>
<app-footer />
