<div class="feedback-main">
    <div class="feedback-container">
        <p class="feedback-container-title">Customer Feedback</p>
        <div class="feedback-form-container">
            <p>Overall Rating</p>
            <div class="feedback-stars">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="feedback-input-box">
                <input type="text" placeholder="Write your review" />
            </div>
            <button matButton="filled">Submit</button>
        </div>
    </div>
    <div class="feedback-display">
        <div class="feedback-username-details">
            <img src="2766594.png" alt="" width="100px">
            <p class="feedback-username">username</p>
        </div>
        <div class="user-feedback-stars">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>
        <p class="user-feedback-review">Review</p>
    </div>
</div>