<div class="feedback-main">
    <div class="feedback-container">
        <p>Customer Feedback</p>
        <div class="feedback-form-container">
            <p>Overall Rating</p>
            <div class="feedback-stars">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
                <div class="feedback-input-box">
                    <input type="text" placeholder="Write your review"/> 
                </div>
            <button matButton="filled">Submit</button>
        </div>
    </div>
    <div class="feedback-display">
        <img src="2766594.png" alt="" width="100px">
        <p>username</p>
        <div class="user-feedback-stars">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>
        <p>Review</p>
    </div>
</div>