<div class="cart-main-container">
    <div class="my-cart-container">
        <div class="my-cart-left-container">
            <div class="my-cart-title">
                <p class="my-cart-title">My cart (1)</p>
            </div>
            <div class="my-cart-main">
                <div class="my-cart-image">
                    <img src="Image 7.png" alt="Book Image">
                </div>
                <div class="my-cart-details">
                    <p class="my-cart-book-name">Don't Make Me Think</p>
                    <p class="my-cart-book-author">by Steve Krug</p>
                    <div class="my-cart-price-container">
                        <span class="my-cart-book-discount">Rs 1500 </span>
                        <span class="my-cart-book-price">
                            <del>Rs 2000</del>
                        </span>
                    </div>
                    <div class="my-cart-book-quantity">
                        <div class="my-cart-book-quantity-change">
                            <button class="my-cart-book-decrease">-</button>
                            <input type="number">
                            <button class="my-cart-book-increase">+</button>
                            <div class="my-cart-book-quantity-change">
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-cart-right-container">
            <div class="my-cart-location"> Location ka kuch toh weird sa dabba</div>
            <button class="blue-button">PLACE ORDER</button>
        </div>
    </div>

    <app-address-form/>


    <div class="order-summary-container">
        <div class="my-cart-left-container">
            <div class="my-cart-title">
                <p class="my-cart-title">Order Summary</p>
            </div>
            <div class="my-cart-main">
                <div class="my-cart-image">
                    <img src="Image 7.png" alt="Book Image">
                </div>
                <div class="my-cart-details">
                    <p class="my-cart-book-name">Don't Make Me Think</p>
                    <p class="my-cart-book-author">by Steve Krug</p>
                    <div class="my-cart-price-container">
                        <span class="my-cart-book-discount">Rs 1500 </span>
                        <span class="my-cart-book-price">
                            <del>Rs 2000</del>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-cart-right-container">
            <button class="blue-button">PLACE ORDER</button>
        </div>
    </div>
</div>