<div class="book-card-container">
    <div class="book-card-image">
        <img src="Image 7.png">
    </div>
    <div class="book-card-details">
        <p class="book-card-name">Don't Make Me Think</p>
        <p class="book-card-author">by Steve Krug</p>
        <span class="book-card-rating-container">
            <span class="book-card-rating">4.5</span>
            <span><i class="fas fa-star"></i></span>
        </span>
        <span class="book-card-rating-number">(20)</span>
        <div class="book-card-price-container">
            <span class="book-card-discount">Rs 1500</span>
            <span class="book-card-price"><del>2000</del></span>
        </div>
    </div>
</div>