<div class="book-card-container">
    <div class="book-card-image">
        <img [src]="book?.bookImage || 'Image 7.png'" alt="{{book?.bookName || 'Book Image'}}">
    </div>
    <div class="book-card-details">
        <p class="book-card-name">{{ book?.bookName || 'Unknown Title' }}</p>
        <p class="book-card-author">by {{ book?.author || 'Unknown Author' }}</p>
        <span class="book-card-rating-container">
            <span class="book-card-rating">4.5</span>
            <span><i class="fas fa-star"></i></span>
        </span>
        <span class="book-card-rating-number">(20)</span>
        <div class="book-card-price-container">
            <span class="book-card-discount">Rs {{ book?.discountPrice || book?.price || 0 }} </span>
            <span class="book-card-price" *ngIf="book?.discountPrice !== book?.price && book?.discountPrice !== 0">
                <del>Rs {{ book?.price || 0 }}</del>
            </span>
        </div>
    </div>
</div>