.book-card-container {
    width: 235px;
    /* height: 275px; */
    border: 1px solid #E2E2E2;
    padding: 0px;
}

.book-card-image {
    width: 233px;
    height: 172px;
    background-color: #F5F5F5;

    img {
        display: block;
        margin: auto;
    }
}

.book-card-rating-container {
    width: 25%;
    background-color: #388E3C;
    border-radius: 1px;
    color: white;
    padding: 2px 4px;

    span {
        font-size: 10px/13px;
    }

    .fa-star{
        height: 4px;
    }
}

.book-card-price, .book-card-rating-number, .book-card-author{
    font-size: 10px;
    color: #878787;
}

.book-card-details {
    padding: 10px 20px 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}